
*{
box-sizing:border-box
}

html{
  scroll-behavior: smooth;
}

img{
  max-width: 100%;
  height: auto;
}

body{
  margin: 0;
  font-family: 'Ebrima', sans-serif;
  text-align:center;
  background-color: #fbce40;
}

/*typography
=======================================*/
.button{
  display: inline block;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  border-width: 2px;
  border-style: solid;
  padding: .5em 1.5em;
  margin-top: 10px;
}

.h1{
  font-weight: 300;
  font-size: 30px;
}

.button-accent{
  color:#fbce40;
/*  background-color: aliceblue;
  opacity: 75%;
*/
}

.button-accent:hover,
.button-accent:focus{
  background-color: #fbce40;
  opacity: 75%;
  color:#202833;

}

@media (min-width: 828px){
  .button{
font-size: 25px;
  }
}

/*header
=======================================*/
@media (min-width: 828px){
header{
  position: absolute;
  margin-top: 1em;
  left: 0;
  right: 0;
}

nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li{
  display: inline-block;
  margin: 1em;
  vertical-align: middle;
}

nav a{
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px;
  color: aliceblue;
}
nav a:hover,
nav a:focus{
  color: #c5c6c8;
}


.logo{
width: 100px;
height: 100px;
}
}

@media (max-width: 828px){
  header{
    position: absolute;
    margin-top: 1em;
    left: 0;
    right: 0;
  }
  
  nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    position: fixed;
  }
  
  nav li{
    display: block;
    margin: 1em;
  }
  
  nav a{
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px;
    color: aliceblue;
  }
  nav a:hover,
  nav a:focus{
    color: #c5c6c8;
  }
  
  
  .logo{
  width: 100px;
  height: 100px;
  }
  }


  @media (max-width: 828px){
    header{
      display: none;
    }
  }
  /*======================>Hamburger menu<==========================*/

  @media (min-width: 828px){
    .topnav{
      display: none;
    }
  }

  .topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .active {
    background-color: #202833;
    color: white;
  }
  
  .topnav li{
    display: block;
    margin: 1em;
  }

/*home-hero
=======================================*/

.home-hero{
  background-image: url(../Pictures/home_hero1.jpg);
  background-position: center;
  background-size: 120%;
  padding: 20px;
  height: 400px;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
}


@media (min-width: 828px){
  .home-hero{
    height: 100vh;
    padding-top: 10vh;
  }
}

.home-hero h1{
  font-size: 20px;
  text-shadow:2px 2px #202833;
}

.home-hero p{
  font-size: 25px;
  text-shadow:2px 2px #202833;
}

.home-hero span{
font-size: 20px;
}

/*What do we do?
=======================================*/




@media (max-width:828px){
  .home-about-textbox{
    background-color: #202833;
    padding: 70px;
    outline: 2px solid #202833;
    text-align:center;
    outline-offset: -3rem;
    color: aliceblue;
    display: flex; 
    align-items: center; 
    justify-content: center;
    flex-direction: column;
    position: relative;
  }

  .home-about-textbox h1{
    background-color: #202833;
    display: inline-block;
    top: 12px;
    color: #202833;
    position: absolute;
    text-align: center;
    width: 250px;
  }

}

@media (min-width:828px){

  .home-about{
    background-color: #202833;
    background-image: url(../Pictures/home-about-background3.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 120%;
    padding: 20px;
    height: 600px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }


  .home-about-textbox{
    padding: 70px;
    width: 50%;
    background-color: #fbce40;
    outline: 2px solid #202833;
    text-align:center;
    outline-offset: -3rem;
    color: #202833;
    display: flex; 
    align-items: center; 
    justify-content: center;
    flex-direction: column;
    position: relative;

  }
  
  .home-about-textbox h1{
    background-color: #202833;
    display: inline-block;
    top: 12px;
    color: #fbce40;
    position: absolute;
    text-align: center;
    width: 250px;
  }

}



.split-total{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fbce40;

}

@media (max-width:828px){
  .split-total{
    flex-direction: column;
  }
}

/*.centered{
  float: left;
  width: 22%;
  margin: 1rem;
  padding: 30px;
  height: 20vh;
  text-align: center;
  transform: translate(20%,10%);
}
*/
.split{
flex: 0 0 30%;
padding: 20px;
background-color: #fbce40;
}

@media (max-width:828px){
  .split{
    flex: 0 0 100%;
  }
}

.split img{
background-color: #202833;
border-radius: 50%;
height: 200px;
padding: 40px;
}

.split p{
padding: 10px;

}


/* Countdown timer
<<<==========================================================================================>>>
.container{
  position: absolute;
  top:80px;
  left: 100px;
  right: 100px;
  bottom: 80px;
  display: flex;
  justify-content: center;

}

.countdown {
  position: relative;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  background: #333;
  color: #fff;
  margin: 0 15px;
  font-size: 1em;
  font-weight: 500;
}

.countdown div:before{
  content: ' ';
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
  height: 30px;
  background: #ff0;
  color: #333;
  font-style: 0.15em;
  line-height: 30px;
  font-weight: 300;

}

.countdown #Day:before{
  content: 'Day';
}
.countdown #Hour:before{
  content: 'Hour';
}
.countdown #Minute:before{
  content: 'Minute';
}
.countdown #Second:before{
  content: 'Second';
}*/

/*<<<============================================>>>
History timeline*/

.container {

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  background-color: #fbce40;
}

.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.timeline ul {
  list-style: none;
}
.timeline ul li {
  padding: 20px;
  background-color: #1e1f22;
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}
.timeline ul li:last-child {
  margin-bottom: 0;
}
.timeline-content h1 {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 10px;
}
.timeline-content p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}
.timeline-content .date {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 2px;
  color: #1e1f22;
}
@media only screen and (min-width: 828px) {
  .timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: #202833;
  }
  .timeline ul li {
    width: 50%;
    position: relative;
    margin-bottom: 50px;
  }
  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
    border-radius: 20px 0px 20px 20px;
  }
  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
    border-radius: 0px 20px 20px 20px;
  }
  .timeline ul li::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #202833;
    top: 0px;
  }
  .timeline ul li:nth-child(odd)::before {
    transform: translate(50%, -50%);
    right: -30px;
  }
  .timeline ul li:nth-child(even)::before {
    transform: translate(-50%, -50%);
    left: -30px;
  }
  .timeline-content .date {
    position: absolute;
    top: -30px;
  }
  .timeline ul li:hover::before {
    background-color: #f27348;
  }
}

/*<<<============================================>>>
Presenter Cards*/



* {
  box-sizing: border-box;
}

.column
{
    width:25%;
    float:left;
    padding:100px 10px;

}

.row:after{
    content:"";
    display:table;
    clear:both;
}



@media screen and (max-width:828px)
{
    .column
    {
        width:100%;
        display:block;
        margin-bottom: 20px;
    }
}

.card
{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    max-width:300px;
    margin:auto;
    background-color:white;
    text-align:center;
    border-radius:40px;
    padding-bottom:15px;
    padding-top: 10px;
}

.card img{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;

}


.title
{
    color:gray;
    font-size:18px;
}

button
{
    border:none;
    padding:8px;
    display: inline-block;
    color:white;
    background-color:black;
    cursor:pointer;
    width:70%;
    border-radius:20px;
    font-size:18px;
    text-align:center;
}

a{
    text-decoration: none;
    font-size:22px;
    color:black;
}

a:hover,button:hover{
    opacity: 0.6;
}




.wrapper{
  width: 100%;
  background: #fff;
  font-family: 'Ebrima', sans-serif;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 4px 4px 2px rgb(129, 129, 129); 
}

.wrapper h2{
  text-align: center;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #332902;
}

.wrapper .input_field{
  margin-bottom: 20px;
}

.wrapper .input_field input[type="text"],
.wrapper textarea{
  border: 1px solid #e0e0e0;
  width: 100%;
  padding: 10px;
}

.wrapper textarea{
  resize: none;
  height: 40px;
}

.wrapper .btn input[type="submit"]{
  border: 0px;
  margin-top: 5px;
  padding: 10px;
  text-align: center;
  width: 100%;
  background: #202833;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
}

#error_message{
  margin-bottom: 20px;
  background: #fe8b8e;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}

/*=========>Pop-up<==============*/

.popup .overlay {
  position:fixed;
  top:0px;
  left:0px;
  width:100vw;
  height:100vh;
  background:rgba(0,0,0,0.7);
  z-index:1;
  display:none;
}
 .popup text{
   color: black;
 }
.popup .content {
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) scale(0);
  background:#fff;
  width:95%;
  max-width:700px;
  z-index:2;
  text-align:center;
  padding:20px;
  box-sizing:border-box;
  font-family:"Open Sans",sans-serif;
}
 
.popup .close-btn {
  cursor:pointer;
  position:absolute;
  right:20px;
  top:20px;
  width:30px;
  height:30px;
  background:#222;
  color:#fff;
  font-size:25px;
  font-weight:600;
  line-height:30px;
  text-align:center;
  border-radius:50%;
}
 
.popup.active .overlay {
  display:block;
}
 
.popup.active .content {
  transition:all 300ms ease-in-out;
  transform:translate(-50%,-50%) scale(1);
}
 
.popup button {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  padding:15px;
  font-size:18px;
  border:2px solid #222;
  color:#222;
  text-transform:uppercase;
  font-weight:600;
  background:#fff;
}

/*==============================Register popup====================================*/

.registration-container text{
  color: black;
}

/* Add padding to containers */
.registration-container {
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
input[type=text], input[type=name] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 5px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=password], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 5px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

h1{ 
  margin-bottom: -40px;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 30px;
  margin-top: 30px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 15px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  margin-top: 160px;
}

.registerbtn:hover {
  opacity: 1;
}
p{
  margin-top: 80px;
}
/* Add a blue text color to links */
a {
  color:#202833;
}

.loginbtn {
  background-color: #202833;
  color: white;
  padding: 16px 20px;
  margin: 15px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  margin-top: 160px;
}

.loginbtn:hover {
  opacity: 1;
}
p{
  margin-top: 80px;
}
/* Add a blue text color to links */
a {
  color:#202833;
}



/*==============================FAQ====================================*/

.accordion {
  background-color: #eee;
  font-family: 'Ebrima', sans-serif;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}